.page.theme_dark {
  --background-image: url("../images/cover-image-dark.png");
  --visible: visible;
  --main-text-color: #f1b2ce;
  --background-color: #000028;
  --main-header-color: #db00ff;
  --button-color: #ff0070;
  --button-hover-border: #ff007066;
  --section-header-color: #ff0070;
  --article-header-color: #000028;
  --article-background-color: #ff0070;
  --link-shadow-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  .page {
    --main-text-color: #f1b2ce;
    --background-color: #000028;
    --main-header-color: #db00ff;
    --button-color: #ff0070;
    --button-hover-border: #ff007066;
    --section-header-color: #ff0070;
    --article-header-color: #000028;
    --article-background-color: #ff0070;
    --link-shadow-color: #ff0070;
    --background-image: url("../images/cover-image-dark.png");
    --visible: visible;
  }
}