/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-bg: #ff8dcb;
  --section-bg: #fff1f7;
  --gallery-bg: #fff;
  --footer-bg: #fff1f7;
  --decor-corner: #353430;
  --decor-rec: #353430;

  --header-shadow: 4px 4px 0 var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);

  --font-family: 'IBM Plex Mono', monospace;
  --font-size-base: 1.125rem;
  --heading-font-size-min: 2.5rem;
  --heading-font-size-max: 9.8125rem;

  --main-padding: 1rem;
  --grid-gap: 1.25rem;
  --border-radius: 12px;
  --min-section-width: 375px;

  --focus-outline: 2px solid var(--accent-color);
  --transition-duration: .2s;

  --image-shadow: 0 4px 32px 0 rgba(0,0,0,0.04);

  --gap-header-footer: 20px;
  --corner-size: 36px;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-bg: #ff8dcb;
    --section-bg: #fff1f7;
    --gallery-bg: #fff;
    --footer-bg: #fff1f7;
    --decor-corner: #353430;
    --decor-rec: #353430;

    --header-shadow: 4px 4px 0 var(--accent-color);
    --link-shadow: 2px 2px 0 var(--accent-color);

    --font-family: 'IBM Plex Mono', monospace;
    --font-size-base: 1.125rem;
    --heading-font-size-min: 2.5rem;
    --heading-font-size-max: 9.8125rem;

    --main-padding: 1rem;
    --grid-gap: 1.25rem;
    --border-radius: 12px;
    --min-section-width: 375px;

    --focus-outline: 2px solid var(--accent-color);
    --transition-duration: .2s;

    --image-shadow: 0 4px 32px 0 rgba(0,0,0,0.04);

    --gap-header-footer: 20px;
    --corner-size: 36px;
  }
}


.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
