.page.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --visible: hidden;
  --main-text-color: #353430;
  --background-color: #fff1f7;
  --main-header-color: #ffc2e6;
  --button-color: #353430;
  --button-hover-border: #32312d66;
  --section-header-color: #353430;
  --article-header-color: #353430;
  --article-background-color: #ff8dcb;
  --link-shadow-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  .page {
    --main-text-color: #353430;
    --background-color: #fff1f7;
    --main-header-color: #ffc2e6;
    --button-color: #353430;
    --button-hover-border: #32312d66;
    --section-header-color: #353430;
    --article-header-color: #353430;
    --article-background-color: #ff8dcb;
    --link-shadow-color: #ff8dcb;
    --background-image: url("../images/cover-image-light.png");
    --visible: hidden;
  }
}