:root {
  --header-articles-gap: 20px;
  --articles-gap: 20px;
  --shadow-color: #ff0070;
  --header-weight: 700;
  --text-weight: 400;
  --main-font: 'IBM Plex Mono', monospace;
  --main-font-size: 18px;
  --main-line-height: 130%;

  --background-image: url("../images/cover-image-dark.png");
  --visible: visible;
  --main-text-color: #f1b2ce;
  --background-color: #000028;
  --main-header-color: #db00ff;
  --button-color: #ff0070;
  --button-hover-border: #ff007066;
  --section-header-color: #ff0070;
  --article-header-color: #000028;
  --article-background-color: #ff0070;
  --link-shadow-color: #ff0070;

  --main-padding: 10px;  /* 20px при размере экрана > 375  */
  --main-content-vertical-padding: 40px;  /* 60px при размере экрана > 375  */
  --sections-gap: 50px;  /* 80px при размере экрана > 375  */
}
